<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://github.com/humiao7/iosDistribute/raw/master/%E9%9A%86%E9%91%ABEAM.ipa</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>com.loncin.fsm</key>
                <string>内测app的bundleidentifier</string>
                <key>V 2.0.0</key>
                <string>版本号</string>
                <key>kind</key>
                <string>software</string>
                <key>隆鑫EAM</key>
                <string>应用名称</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>